<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Bernardo Simões</a></h1>
            <p>Remote software engineer, <br/>
            machine learning enthusiast </p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/#about">About me</a></li>
                <li><a href="{{ site.baseurl }}/#portfolio">Portfolio</a></li>
                <li><a href="{{ site.baseurl }}/#volunteering">Volunteering</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="http://twitter.com/golfadas" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/bersimoes" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.instagram.com/bersimoes" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/golfadas" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>

